.userList {
    display: flex;
    align-items: center;
    height: 80px;
    box-sizing: border-box;
    padding: 0px 10px;
    background: #fff;
  }
  .userListDetail {
    flex-grow: 1;
  }
  .userListDetail > p {
    line-height: 20px;
    text-align: left;
  }
  .userListDetail > p:last-child {
    font-size: 0.8em;
    color: #b4b0b0;
  }
  .listImg {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
  .reColor{
    color: #b4b0b0;
  }
  .reBg{
    background: #e4e3e3;
    padding: 4px 0px 4px 10px;
  }
  .topBar{
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    align-items: center;
  }