.recommendContainer{
    background-color: white;
    padding-top: 14px;
}
.coverContaner{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    flex-wrap: wrap;
}
.recommendHeader{
    border-left: 5px red solid;
    padding-left: 5px;
}