<router-outlet></router-outlet>
<audio #audio></audio>
<!-- <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one<span class="badge">1</span></a></li>
    <li><a href="#!">two<span class="new badge">1</span></a></li>
  <li><a href="#!">three</a></li>
  </ul>
  <a class="btn waves-effect waves-light dropdown-button" href="#!" data-activates="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
<div class="c waves-effect waves-light">
        <i class="large material-icons">insert_chart</i>
</div> -->