<div class="userNavContainer">
  <div class="content">
      <ul>
          <li>
            <div class="user-view">
              <div class="background">
                <img src="assets/1.jpeg">
              </div>
              <a>
                <img class="circle" src="assets/55.jpg">
              </a>
              <div class="nameContainer">
                <span class="white-text">John Doe</span>
                <span class="white-text">签到</span>
              </div>
            </div>
          </li>
          <li>
            <ul class="re">
              <li>
                <a>
                  <i class="material-icons">markunread</i>
                  我的消息
                </a>
              </li>
              <li>
                <a>
                  <i class="material-icons">people_outline</i>
                  会员中心
                </a>
              </li>
              <li>
                <a>
                  <i class="material-icons">shopping_cart</i>
                  商城
                </a>
              </li>
              <li>
                <a>
                  <i class="material-icons">music_note</i>
                  在线听歌免流量
                </a>
              </li>
            </ul>
          </li>
          <li>
              <ul class="re">
                  <li>
                    <a>
                      <i class="material-icons">people</i>
                      我的好友
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">pin_drop</i>
                      附近的人
                    </a>
                  </li>
                </ul>
          </li>
          <li>
              <ul class="re">
                  <li>
                    <a>
                      <i class="material-icons">color_lens</i>
                      个性换肤
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">headset</i>
                      听歌识曲
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">access_time</i>
                      定时停止播放
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">settings_overscan</i>
                      扫一扫
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">access_alarms</i>
                      音乐闹钟
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">time_to_leave</i>
                      驾驶模式
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="material-icons">wb_cloudy</i>
                      音乐云盘
                    </a>
                  </li>
                </ul>
          </li>
        </ul>
  </div>
  <div class="bottomBar">
      <a class="waves-effect btn-flat waves-light btn"><i class="material-icons left">brightness_2</i>夜间模式</a>
      <a class="waves-effect btn-flat waves-light btn"><i class="material-icons left">settings</i>设置</a>
      <a class="waves-effect btn-flat waves-light btn"><i class="material-icons left">power_settings_new</i>退出</a>
  </div>
</div>
